@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #04042f;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #04042f;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #04042f;
}

/* Header style */

#navbar {
    float: left;
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 50px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: #724894;
}

.active {
    border-bottom: 3px solid #3D1261;
}


/* social media head style */

#social-media-head {
    float: right;
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 50px;
}

#social-media-head li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

#social-media-head i {
    color:#04042f;
}

#social-media-head i:hover {
    color: #724894
}

/* heading style */

#main-heading {
    text-align: center;
    clear: both;
    border-top: 4px solid #724894;
    border-bottom: 4px solid #724894;
    padding: 20px;
    margin: 20px;
}

/* index hero section style */

#image-container {
    float: left;
    width: 500px;
    height: 500px;
    padding-bottom: 60px;
    margin: 40px 0 0 150px;
}

#hero-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#hero-description {
    float: right;
    width: 30%;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 220px;
    padding-right: 150px;
    padding-bottom: 40px;
}

/* index book section style */

#books-heading {
    text-align: center;
    clear: both;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    border-top: 2px solid #724894;
    border-bottom: 2px solid #724894;
    padding: 30px;
    margin: 40px;
}

#index-books {
    clear: both;
    width: 100%;
    height : 600px;
    margin: 40px 0;
}

#index-books div {
    display: inline-block;
    width: 30%;
    height: 80%;
    padding-left: 30px;
    margin: 5px;
    text-align: center;
}

#index-books h3 {
    text-align: center;
}

#index-books img {
    width: 60%;
    height: 80%;
    padding: 30px;
}

/* about.html style */

#about-me h2 {
    text-align: center;
    clear: both;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    padding: 40px;
    margin: 40px;
}

/* books.html style */

#books-main {
    clear: both;
    height: 100%;
    width: 100%;
}

#books-main h2 {
    clear: both;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #04042f;
    text-align: center;
    padding: 40px;
}

#books-main div {
    clear: both;
    height: 30%;
    width: 100%;
    margin-top: 80px;
}

#books-main img {
    float: left;
    margin: 40px;
    height: 400px;
    width: 300px;
    padding-left: 160px;
}

#books-main p {
    float: right;
    margin: 80px 180px 40px 40px;
    height: 200px;
    width: 400px;
    padding: 60px 100px 20px 20px;
    text-align: center;
    font-size: 110%;
    line-height: 20px;
}

#books-purchase {
    clear: both;
}

#books-purchase h3 {
    clear: both;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: #04042f;
    text-align: center;
    padding: 40px;
}

#books-purchase div {
    display: inline-block;
    width: 30%;
    height: 80%;
    padding-left: 20px;
    margin: 5px;
    text-align: center;
}

#books-purchase img {
    width: 200px;
    height: 300px;
    padding-left: 125px;
}

#books-purchase a {
    clear: both;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #04042f;
    text-align: center;
}

/* media.html style */

#media-main div {
    clear: both;
    text-align: center;
    margin: 80px;
}

#media-main h3 {
    font-family: Roboto, sans-serif;
    font-size: 160%;
    clear: both;
    text-align: center;
    margin: 80px;
}

/* contact.html style */

#contact-main {
    background-image: url(../images/elle-leontiev-FtZf5yiLWs4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 20px;
}

#contact-form {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: rgba(61, 18, 97, 0.5);
    margin: 100px;
    border-radius: 2%;
}

#contact-form > h2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: white;
    margin: 20px;
}

#contact-form label {
    color: white;
    padding: 10px;
}

.text-input {
    clear: both;
    background: transparent;
    color: white;
    width: 90%;
    height: 25px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

#message-box {
    height: 160px;
}

.join-button {
    margin: 20px;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    font-size: 120%;
    background-color: white;
    color: #04042f;
    display: block;
}

.join-button:hover {
    background-color: #04042f;
    color: white;
}

/* footer style */

footer {
    height: 100px;
    clear: both;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(61, 18, 97, 0.6);
}   

footer a {
    color: white;
    text-decoration: none;
}

#social-media-foot {
    float: right;
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 50px;
    padding-top: 20px;
}

#social-media-foot li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

#social-media-foot i {
    color: white;
}

#social-media-foot i:hover {
    color: #04042f;
}

#copyright {
    float: left;
    padding-top: 40px;
    padding-left: 20px;
}

