@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #04042f;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #04042f;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #04042f;
}

/* Header style */

#navbar {
    float: left;
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 50px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: #724894;
}

.active {
    color: #724894;
}

/* social media head style */

#social-media-head {
    float: right;
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 50px;
}

#social-media-head li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

#social-media-head i {
    color:#04042f;
}

/* heading style */

#main-heading {
    text-align: center;
    clear: both;
    border-top: 4px solid #724894;
    border-bottom: 4px solid #724894;
    padding: 20px;
    margin: 20px 0;
}

/* welcome section style */

#hero-description {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 300px;
    padding: 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* footer style */

footer {
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(61, 18, 97, 0.6);
    line-height: 50px;
}

#social-media-foot {
    float: right;
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 50px;
}

#social-media-foot li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

#social-media-foot i {
    color: white;
}