@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #04042f;
}

/* Header style */

#navbar {
    float: left;
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 50px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: #724894;
}

.active {
    color: #724894;
}

/* social media style */

#social-media-head {
    float: right;
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 50px;
}

#social-media-head li {
    float: left;
    list-style-type: none;
    margin: 10px;
    color: #04042f;
}

